@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-dark-color: #0f0f0f;
  --text-dark-color: #f1f1f1;
  --text-dark-secondary: #aaa;
  --text-dark-disabled: #717171;
  --theme-light-color: #f1f1f1;
  --text-light-color: #0f0f0f;
  --text-light-secondary: #606060;
  --text-light-disabled: #909090;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  /* CSS propre au mode sombre */
  background-color: var(--theme-dark-color);
}

@media (prefers-color-scheme: light) {
  /* CSS propre au mode clair */
  background-color: var(--theme-light-color);
}
